<template>
  <el-row :gutter="20">
    <el-col :lg="4" :md="12" :offset="0">
      <el-card class="sim-gruid--item" shadow="hover">
        <img alt="" :src="require('@/assets/icons/biaoge.svg')" />
        <div>Excel</div>
      </el-card>
    </el-col>
    <el-col :lg="4" :md="12" :offset="0">
      <el-card class="sim-gruid--item" shadow="hover">
        <img alt="" :src="require('@/assets/icons/biaoge.svg')" />
        <div>Excel</div>
      </el-card>
    </el-col>
    <el-col :lg="4" :md="12" :offset="0">
      <el-card class="sim-gruid--item" shadow="hover">
        <img alt="" :src="require('@/assets/icons/biaoge.svg')" />
        <div>Excel</div>
      </el-card>
    </el-col>
    <el-col :lg="4" :md="12" :offset="0">
      <el-card class="sim-gruid--item" shadow="hover">
        <img alt="" :src="require('@/assets/icons/biaoge.svg')" />
        <div>Excel</div>
      </el-card>
    </el-col>
    <el-col :lg="4" :md="12" :offset="0">
      <el-card class="sim-gruid--item" shadow="hover">
        <img alt="" :src="require('@/assets/icons/biaoge.svg')" />
        <div>Excel</div>
      </el-card>
    </el-col>
    <el-col :lg="4" :md="12" :offset="0">
      <el-card class="sim-gruid--item" shadow="hover">
        <img alt="" :src="require('@/assets/icons/biaoge.svg')" />
        <div>Excel</div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
  export default {
    name: '',
    setup() {
      return {}
    },
  }
</script>

<style lang="scss" scoped>
  .sim-gruid--item {
    margin-bottom: 20px;
  }
</style>
