<template>
  <div class="sim-header">
    <el-row class="sim-header--container">
      <el-col :span="24">
        <el-header class="sim-header--content">
          <el-row align="middle" class="sim-header--row">
            <el-col
              v-if="
                getTheme.layout === 'ordinary' ||
                (getDevice === 'mobile' && getTheme.layout === 'float')
              "
              :lg="1"
              :md="1"
              :sm="1"
              :xl="1"
              :xs="2"
            >
              <div class="sim-menu--icon" @click="zoomMenu">
                <el-icon :size="16"><DArrowLeft /></el-icon>
              </div>
            </el-col>
            <el-col :lg="14" :md="14" :sm="9" :xl="14" :xs="10">
              <el-breadcrumb
                v-if="getTheme.breadcrumb"
                class="hidden-xs-only"
                separator="/"
              >
                <el-breadcrumb-item>
                  {{ translateTitle(getTabs.parent) }}
                </el-breadcrumb-item>
                <el-breadcrumb-item>
                  {{ translateTitle(getTabs.child) }}
                </el-breadcrumb-item>
              </el-breadcrumb>
            </el-col>
            <el-col :lg="9" :md="9" :sm="14" :xl="9" :xs="12">
              <sim-header-tools />
            </el-col>
          </el-row>
        </el-header>
      </el-col>
    </el-row>
    <sim-tabs />
  </div>
</template>

<script>
  import { computed } from 'vue'
  import SimHeaderTools from '@/lib/components/SimHeaderTools/index.vue'
  import { AppModuleStore } from '@/store/modules/app.modules'
  import { RouterModuleStore } from '@/store/modules/router.modules'
  import SimTabs from '@/lib/components/SimTabs/index.vue'
  import { translateTitle } from '@/hooks/translate/index'

  export default {
    name: 'SimHeader',
    components: {
      SimHeaderTools,
      SimTabs,
    },
    setup() {
      const store = AppModuleStore()
      const routerStore = RouterModuleStore()
      const zoomMenu = () => store.TOGGLE_COLLAPSE()
      const getDevice = computed(() => store.GET_DEVICE)
      const getTheme = computed(() => store.GET_THEME)
      const getTabs = computed(() => routerStore.GET_BREADCURUMB)
      return {
        iconSize: 16,
        zoomMenu,
        getDevice,
        getTheme,
        getTabs,
        translateTitle,
      }
    },
  }
</script>

<style scoped lang="scss">
  .sim-header {
    //z-index: 1;

    &--container {
      border-bottom: 1px solid #eee;
    }

    &--content {
      background-color: #fff;
      padding: 0 16px;
      height: 60px;
      .sim-header--row {
        height: 100%;
      }
    }

    .sim-menu--icon {
      cursor: pointer;
      font-size: 24px;
      color: #000;
      //margin-top: 16px;
      //width: 30px;
      //height: 100%;
      //line-height: 30px;
      //float: left;
    }
  }
</style>
