<template>
  <el-card class="sim-entrance" shadow="hover">
    <template #header>
      <div class="sim-entrance--header">
        <span>
          <sim-icon class="sim-icon" icon="fa-drafting-compass" />
          快捷入口
        </span>

        <el-button plain size="small" type="primary">更多</el-button>
      </div>
    </template>

    <el-row :gutter="20">
      <el-col :md="4" :offset="0" :sm="8" :xs="12">
        <el-card class="sim-gruid--item" shadow="hover">
          <img alt="" :src="require('@/assets/icons/biaoge.svg')" />
          <div>Excel</div>
        </el-card>
      </el-col>
      <el-col :md="4" :offset="0" :sm="8" :xs="12">
        <el-card class="sim-gruid--item" shadow="hover">
          <img alt="" :src="require('@/assets/icons/quanxian.svg')" />
          <div>菜单权限</div>
        </el-card>
      </el-col>
      <el-col :md="4" :offset="0" :sm="8" :xs="12">
        <el-card class="sim-gruid--item" shadow="hover">
          <img alt="" :src="require('@/assets/icons/liebiao.svg')" />
          <div>列表</div>
        </el-card>
      </el-col>
      <el-col :md="4" :offset="0" :sm="8" :xs="12">
        <el-card class="sim-gruid--item" shadow="hover">
          <img alt="" :src="require('@/assets/icons/shangchuan.svg')" />
          <div>文件上传</div>
        </el-card>
      </el-col>
      <el-col :md="4" :offset="0" :sm="8" :xs="12">
        <el-card class="sim-gruid--item" shadow="hover">
          <img alt="" :src="require('@/assets/icons/guanyuwomen.svg')" />
          <div>关于作者</div>
        </el-card>
      </el-col>
      <el-col :md="4" :offset="0" :sm="8" :xs="12">
        <el-card class="sim-gruid--item" shadow="hover">
          <img alt="" :src="require('@/assets/icons/shengji.svg')" />
          <div>网站升级</div>
        </el-card>
      </el-col>
    </el-row>
  </el-card>
</template>

<script>
  export default {
    name: 'SimEntrance',
    setup() {
      return {}
    },
  }
</script>

<style lang="scss" scoped>
  .sim-entrance {
    margin-top: 14px;

    & > :deep(.el-card__body) {
      padding-bottom: 0px;
    }
    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .sim-gruid--item {
      text-align: center;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
</style>
