<template>
  <el-card class="sim-package" shadow="hover">
    <template #header>
      <div class="sim-package--header">
        <span>
          <sim-icon class="sim-icon" icon="fa-info-circle" />
          系统信息
        </span>
        <el-button plain size="small" type="primary">更多</el-button>
      </div>
    </template>
    <div class="sim-package--table">
      <el-descriptions border :column="4">
        <el-descriptions-item
          align="center"
          label="Vue"
          label-align="right"
          width="120px"
        >
          {{ packageJson.dependencies.vue }}
        </el-descriptions-item>
        <el-descriptions-item
          align="center"
          label="Element-Plus"
          label-align="right"
          width="150px"
        >
          {{ packageJson.dependencies['element-plus'] }}
        </el-descriptions-item>
        <el-descriptions-item
          align="center"
          label="axios"
          label-align="right"
          width="150px"
        >
          {{ packageJson.dependencies.axios }}
        </el-descriptions-item>
        <el-descriptions-item align="center" label="pinia" label-align="right">
          {{ packageJson.dependencies.pinia }}
        </el-descriptions-item>

        <el-descriptions-item align="center" label="mockjs" label-align="right">
          {{ packageJson.dependencies.mockjs }}
        </el-descriptions-item>

        <el-descriptions-item
          align="center"
          label="nprogress"
          label-align="right"
        >
          {{ packageJson.dependencies.nprogress }}
        </el-descriptions-item>

        <el-descriptions-item
          align="center"
          label="vue-cookies"
          label-align="right"
        >
          {{ packageJson.dependencies['vue-cookies'] }}
        </el-descriptions-item>

        <el-descriptions-item
          align="center"
          label="vue-i18n"
          label-align="right"
        >
          {{ packageJson.dependencies['vue-i18n'] }}
        </el-descriptions-item>

        <el-descriptions-item
          align="center"
          label="vue-router"
          label-align="right"
        >
          {{ packageJson.dependencies['vue-router'] }}
        </el-descriptions-item>

        <el-descriptions-item align="left" label="其他" label-align="right">
          <el-button
            type="primary"
            @click="
              openWindow(
                'https://github.com/wangxiaoze-view/simple-admin',
                'simple-admin'
              )
            "
          >
            查看源码
          </el-button>
          <el-button
            type="warning"
            @click="openWindow('http://www.wangxiaoze.wang/', '前端日记')"
          >
            前端日记
          </el-button>
          <el-button
            type="info"
            @click="openWindow('https://fontawesome.com.cn/', 'fontawesome')"
          >
            系统icon地址
          </el-button>
        </el-descriptions-item>
      </el-descriptions>
    </div>
  </el-card>
</template>

<script>
  import packageJson from '../../../../../package.json'

  export default {
    name: 'SimPackage',
    setup() {
      const openWindow = (url, title) => {
        window.open(
          url,
          title,
          'left=100,screenX=200,resizable,scrollbars,status'
        )
      }
      return {
        packageJson,
        openWindow,
      }
    },
  }
</script>

<style lang="scss" scoped>
  .sim-package {
    margin-top: 14px;
    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
